<div class="container">
  <div class="row">
    <div class="tasks">
      <h1>Your bullet journal</h1>
      <%= react_component "WeekList",
                          render(template: 'tasks/week_index.json.jbuilder') %>
    </div>
  </div>
</div>
